<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="head">
        </div>
    </header>
    <section>
        <div class="main-menu">
            <img class="logo" src="/src/image/logo.svg" alt="Логотип">
            <div class="callback">
                <div class="callback__number">
                    <a href="tel: +79617986888">8 961 798-68-88</a>
                    <p>Каждый день с 9 до 22</p>
                </div>
                <button class="callback__btn">Заказать зонок</button>
            </div>
            <img class="brand" src="/src/image/brand-name.svg" alt="Название бренда">
        </div>
        <div class="slider">
            <img src="/src/image/banner-slide.jpg" alt="Слайд">
        </div>
    </section>
    <section class="popular">
        <div class="popular-product">
            <h1 class="popular-product__title">Популярные товарные разделы</h1>
            <div class="popular-product__product">
                <div class="product-category">
                    <img class="product-category__image" src="/src/image/mixer.jpg" alt="Смесители">
                    <div class="product-category__title">
                        <p>Смесители</p>
                    </div>
                </div>
                <div class="product-category">
                    <img class="product-category__image" src="/src/image/bathtub.jpg" alt="Ванны">
                    <div class="product-category__title">
                        <p>Ванны</p>
                    </div>
                </div>
                <div class="product-category">
                    <img class="product-category__image" src="/src/image/sink.jpg" alt="Раковины">
                    <div class="product-category__title">
                        <p>Раковины</p>
                    </div>
                </div>
                <div class="product-category">
                    <img class="product-category__image" src="/src/image/cloth.jpg" alt="Полотенцесушители">
                    <div class="product-category__title">
                        <p>Полотенцесушители</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="popular-product">
            <h1 class="popular-product__title">Популярные коллекции</h1>
            <div class="popular-product__product">
                <div class="product-category">
                    <img class="product-category__image" src="/src/image/image 9.jpg" alt="Розмари">
                    <div class="product-category__title">
                        <p>Розмари</p>
                    </div>
                </div>
                <div class="product-category">
                    <img class="product-category__image" src="/src/image/image 10.jpg" alt="Клайда">
                    <div class="product-category__title">
                        <p>Клайда</p>
                    </div>
                </div>
                <div class="product-category">
                    <img class="product-category__image" src="/src/image/image 11.jpg" alt="Суон">
                    <div class="product-category__title">
                        <p>Суон</p>
                    </div>
                </div>
                <div class="product-category">
                    <img class="product-category__image" src="/src/image/image 12.jpg" alt="Контемпорари">
                    <div class="product-category__title">
                        <p>Контемпорари</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        
    </section>
</body>
