body, p, h1 {
    padding: 0;
    margin: 0;
}
body {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}
.head {
    background: url(./image/head.png) center center/cover;
    height: 124px;
    width: 100%;
}
.main-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0 20px 0;
}
.callback {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 311px;
    height: 62px;
}
.callback__btn {
    width: 120px;
    height: 35px;
    border: 1px solid #2145f3;
    border-radius:5px;
    background: #fff;
    color: #2145f3;
}
.callback__number {
    a {
        text-decoration: none;
        font-weight: bold;
        color: black;
        font-size: 23px;
    }
    p {
        text-decoration: none;
        font-weight: normal;
        color: gray;
        font-size: 16px;
        margin-top: 6px;
    }
}
.slider {
    img {
        width: 100%;
    }
}
.popular-product {
    text-align: center;
    padding: 41px 0 0 0;
}
.popular-product__title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    color: #142F4F;
}
.popular-product__product {
    display: flex;
    width: 1260px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 25px 0 41px 0;
}
.product-category {
    position: relative;
}
.product-category__title {
    width: 100%;
    height: 43px;
    background: #142F4F;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -39px;
        p {
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 21px;
            color: #FFFFFF;
        }
        &:hover {
            height: 252px;
            transition: 1s;
            opacity: 0.9;
        }
}